/*==============================================* 
 *  CSS Flex Variables - v1.0.2                 *
 *  (c)Dec.16.2017, by @htmlstrap               *
 *==============================================*/

:root {
    /*============================================
        FlexBox Module for Parent Element
    ============================================*/
    /* flex-direction 
    --------------------------------------------*/
    --flex-row: row;
    /* default */
    --row-rev: row-reverse;
    --flex-col: column;
    --col-rev: column-reverse;

    /* flex-wrap 
    --------------------------------------------*/
    --nowrap: nowrap;
    /* default */
    --flex-wrap: wrap;
    --wrap-rev: wrap-reverse;

    /* justify-content (main-axis - X)
    --------------------------------------------*/
    --left: var(--start);
    /* default */
    --right: var(--end);
    --center: center;
    --between: space-between;
    --around: space-around;

    /* align-item (cross-axis - Y)
    --------------------------------------------*/
    --expand: stretch;
    /* default */
    --top: var(--start);
    --bottom: var(--end);
    --center: center;
    --base: baseline;

    /* align-content 
    --------------------------------------------*/
    --expand: stretch;
    /* default */
    --start: flex-start;
    --end: flex-end;
    --center: center;
    --between: space-between;
    --around: space-around;

    /*
       FlexBox Module for Child Element 
    ============================================*/
    /* flex-grow
    --------------------------------------------*/
    --grow: 1;
    /* by default */
    /* flex-shrink
    --------------------------------------------*/
    --shrink: 0;
    /* by default */
    /* flex-basis 
    --------------------------------------------*/
    --basis: auto;
    --main: main-size;

    /* align-self (Both)
    --------------------------------------------*/
    /* property: auto - default */
    --expand: stretch;
    --start: flex-start;
    --end: flex-end;
    --center: center;
    --base: baseline;
}
